<div class="mat-app-background dialog-container">
    <h2>{{'add-event-dialog.addEvent' | translate}}</h2>

    <mat-dialog-content style="overflow-y: scroll;">
        <!--Input field for entering the title of the to-be-created event. The input is connected to the variable defined in the [(ngModel)] directive.-->
        <mat-form-field color="accent" class="fullWidth">
            <mat-label>{{'add-event-dialog.title' | translate}}</mat-label>
            <input matInput [(ngModel)]="eventTitle">
        </mat-form-field>

        <br>

        <!--Text area field for entering the description of the to-be-created event. The input is connected to the variable defined in the [(ngModel)] directive.-->
        <mat-form-field color="accent" class="fullWidth">
            <mat-label>{{'add-event-dialog.description' | translate}}</mat-label>
            <textarea matInput [(ngModel)]="eventDescription" rows="5"></textarea>
        </mat-form-field>

        <br>

        <!--Dropdown select for entering the category of the to-be-created event. The input is connected to the variable defined in the [(ngModel)] directive.-->
        <mat-form-field color="accent">
            <mat-label>{{'add-event-dialog.className' | translate}}</mat-label>
            <mat-select [(ngModel)]="eventClassName">
                <mat-option value="course">{{'add-event-dialog.course' | translate}}</mat-option>
                <mat-option value="seminar">{{'add-event-dialog.seminar' | translate}}</mat-option>
                <mat-option value="conference">{{'add-event-dialog.conference' | translate}}</mat-option>
            </mat-select>
        </mat-form-field>

        <br>
        <mat-divider></mat-divider>
        <br>

        <div class="fullWidth" style="display: flex; justify-content: center; gap: 5vw;">
            <!--Input field for entering the minimum amount of participants of the to-be-created event. The input is connected to the variable defined in the [(ngModel)] directive.-->
            <mat-form-field color="accent">
                <mat-label>{{'add-event-dialog.minParticipants' | translate}}</mat-label>
                <input matInput [(ngModel)]="eventMinParticipants">
            </mat-form-field>

            <!--Input field for entering the maximum amount of participants of the to-be-created event. The input is connected to the variable defined in the [(ngModel)] directive.-->
            <mat-form-field color="accent">
                <mat-label>{{'add-event-dialog.maxParticipants' | translate}}</mat-label>
                <input matInput [(ngModel)]="eventMaxParticipants">
            </mat-form-field>
        </div>

        <mat-divider></mat-divider>
        <br>

        <div class="fullWidth" style="display: flex; justify-content: center; gap: 5vw;">
            <!--Checkbox for entering whether the to-be-created event is a recurring one. The input is connected to the variable defined in the [(ngModel)] directive.-->
            <mat-checkbox [(ngModel)]="eventRecurring" (click)="blur();">
                {{'add-event-dialog.recurring' | translate}}
            </mat-checkbox>
        </div>

        @if(eventRecurring) {
        <br>
        <!--Dropdown select for entering the recurring days of the to-be-created event. The input is connected to a variable via the (selectionChange) event handler.-->
        <mat-form-field class="fullWidth" color="accent">
            <mat-label>{{'add-event-dialog.days' | translate}}</mat-label>
            <mat-select multiple (selectionChange)="setRecurringDays($event)">
                <mat-option [value]=1>{{'add-event-dialog.monday' | translate}}</mat-option>
                <mat-option [value]=2>{{'add-event-dialog.tuesday' | translate}}</mat-option>
                <mat-option [value]=3>{{'add-event-dialog.wednesday' | translate}}</mat-option>
                <mat-option [value]=4>{{'add-event-dialog.thursday' | translate}}</mat-option>
                <mat-option [value]=5>{{'add-event-dialog.friday' | translate}}</mat-option>
                <mat-option [value]=6>{{'add-event-dialog.saturday' | translate}}</mat-option>
                <mat-option [value]=0>{{'add-event-dialog.sunday' | translate}}</mat-option>
            </mat-select>
        </mat-form-field>
        }

        <br>
        <mat-divider></mat-divider>
        <br>

        <div class="fullWidth" style="display: flex; justify-content: center; gap: 5vw;">
            <!--Checkbox for entering whether the to-be-created event is a 'whole day' event. The input is connected to the variable defined in the [(ngModel)] directive.-->
            <mat-checkbox [(ngModel)]="eventWholeDay" (click)="blur();">
                {{'add-event-dialog.wholeDay' | translate}}
            </mat-checkbox>
        </div>

        <br>

        <div class="fullWidth" style="display: flex; justify-content: center; gap: 5vw;">
            <!--Inputs for setting the start date and time of the new event. Both are connected to the same Date object-->
            <!--Input field for entering the start date of the to-be-created event. The input is connected to the variable defined in the [(ngModel)] directive.-->
            <mat-form-field color="accent">
                <mat-label>{{'add-event-dialog.startDate' | translate}}</mat-label>
                <input matInput [matDatepicker]="datepickerStart" [(ngModel)]="eventStartDate"
                    (change)="checkInputValidity();">
                <mat-datepicker #datepickerStart />
                <mat-datepicker-toggle [for]="datepickerStart" matSuffix />
            </mat-form-field>

            <!--Input field for entering the start time of the to-be-created event. The input is connected to the variable defined in the [(ngModel)] directive.-->
            <mat-form-field color="accent" [class.timeDisabled]="eventWholeDay">
                <mat-label>{{'add-event-dialog.startTime' | translate}}</mat-label>
                <input matInput [matTimepicker]="timepickerStart" [(ngModel)]="eventStartDate"
                    [disabled]="eventWholeDay" [class.timeDisabled]="eventWholeDay"
                    (ngModelChange)="checkInputValidity()">
                <mat-timepicker #timepickerStart />
                <mat-timepicker-toggle [for]="timepickerStart" matSuffix [class.timeDisabled]="eventWholeDay" />
            </mat-form-field>
        </div>

        <br>

        <div class="fullWidth" style="display: flex; justify-content: center; gap: 5vw;">
            <!--Inputs for setting the end date and time of the new event. Both are connected to the same Date object-->
            <!--Input field for entering the end date of the to-be-created event. The input is connected to the variable defined in the [(ngModel)] directive.-->
            <mat-form-field color="accent">
                <mat-label>{{'add-event-dialog.endDate' | translate}}</mat-label>
                <input matInput [matDatepicker]="datepickerEnd" [(ngModel)]="eventEndDate"
                    (change)="checkInputValidity();">
                <mat-datepicker #datepickerEnd />
                <mat-datepicker-toggle [for]="datepickerEnd" matSuffix />
            </mat-form-field>

            <!--Input field for entering the end time of the to-be-created event. The input is connected to the variable defined in the [(ngModel)] directive.-->
            <mat-form-field color="accent" [class.timeDisabled]="eventWholeDay">
                <mat-label>{{'add-event-dialog.endTime' | translate}}</mat-label>
                <input matInput [matTimepicker]="timepickerEnd" [(ngModel)]="eventEndDate" [disabled]="eventWholeDay"
                    [class.timeDisabled]="eventWholeDay" (ngModelChange)="checkInputValidity()">
                <mat-timepicker #timepickerEnd />
                <mat-timepicker-toggle [for]="timepickerEnd" matSuffix [class.timeDisabled]="eventWholeDay" />
            </mat-form-field>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="center" style="padding: 0;">
        <table style="border-collapse: separate; border-spacing: 0 1em;">
            <tr>
                @if(currentValidationError != "") {
                <td style="background-color: red; color: white; border-radius: 5px;">
                    {{currentValidationError}}
                </td>
                }@else {
                <td>
                    &nbsp;
                </td>
                }
            </tr>
            <tr>
                <td>
                    <!--Clickable button for closing the dialog without saving the new event to the database.-->
                    <button mat-fab extended color="primary" (click)="cancel()">
                        <mat-icon fontSet="material-icons">close</mat-icon>
                        {{'add-event-dialog.cancel' | translate}}
                    </button>

                    <!--Clickable button for executing the function for adding a new event to the database.-->
                    <button mat-fab extended color="warn" (click)="addCalendarEvent();" [disabled]="!formValid">
                        <mat-icon fontSet="material-icons-outlined">calendar_add_on</mat-icon>
                        {{'add-event-dialog.addEvent' | translate}}
                    </button>
                </td>
            </tr>
        </table>

    </mat-dialog-actions>
</div>