<span style="display: flex; align-items: center; gap: 15px;">
    <!--Controls for filtering currently displayed events.-->
    <mat-form-field color="accent" style="margin-top: 15px;">
        <mat-icon matPrefix fontSet="material-icons">filter_alt</mat-icon>
        <mat-label>{{'calendar.category' | translate}}</mat-label>
        <!--Dropdown select where the desired filter category can be set.-->
        <mat-select [ngModel]="currentCategory" (selectionChange)="setCategory($event)">
            <!--Set translation for initial selection manually as translations aren't loaded yet when the select is loaded.-->
            @if(calendarOptions.locale == "de"){
            <mat-option value="all" selected>Alle</mat-option>
            } @else if(calendarOptions.locale == "en-gb"){
            <mat-option value="all" selected>All</mat-option>
            }
            <mat-option value="course">{{'calendar.course' | translate}}</mat-option>
            <mat-option value="seminar">{{'calendar.seminar' | translate}}</mat-option>
            <mat-option value="conference">{{'calendar.conference' | translate}}</mat-option>
        </mat-select>
    </mat-form-field>

    <!--Input for entering a search string-->
    <mat-form-field color="accent" style="flex-grow: 1; margin-top: 15px;">
        <mat-label>{{'calendar.search' | translate}}</mat-label>
        <input matInput [(ngModel)]="searchQuery" placeholder="Suchbegriff eingeben" />
    </mat-form-field>

    <!--Clickable button for executing the filter with the entered search string-->
    <button mat-raised-button color="primary" (click)="applyFilters()">
        <mat-label>{{'calendar.searchButton' | translate}}</mat-label>
    </button>
</span>

<!--Component handling all the calendar related functionality.-->
<full-calendar #calendar [options]="calendarOptions" [deepChangeDetection]="true"></full-calendar>