@if(!isLoggedIn){
<div class="login-container">
  <mat-card appearance="outlined" class="center">
    <mat-card-header class="center-content">
      <h1>Login</h1>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <mat-form-field appearance="outline" class="full-width" color="accent">
          <mat-label>{{'admin.username' | translate}}</mat-label>
          <input matInput required [(ngModel)]="username" name="username" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width" color="accent">
          <mat-label>{{'admin.password' | translate}}</mat-label>
          <input matInput type="password" required [(ngModel)]="password" name="password" />
        </mat-form-field>

        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">
            {{'admin.login' | translate}}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
} @else if(isLoggedIn){
<div class="appointment-container">
  <mat-card appearance="outlined" class="center">
    <mat-card-header class="center-content">
      <h1>{{'admin.manageEvents' | translate}}</h1>
    </mat-card-header>
    <mat-card-content class="center-content">

      <br />
      <br />

      <button mat-fab extended color="primary" (click)="openDialog()">
        <mat-icon fontSet="material-icons">edit_calendar</mat-icon>
        {{'admin.addEvent' | translate}}
      </button>
    </mat-card-content>
  </mat-card>
</div>
}