@if(!isLoggedIn){
<div class="login-container">
  <mat-card appearance="outlined" class="center">
    <mat-card-header class="center-content">
      <h1>Login</h1>
    </mat-card-header>
    <mat-card-content class="center-content">
      <!--Login form-->
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <mat-form-field appearance="outline" class="full-width" color="accent">
          <mat-label>{{'admin.username' | translate}}</mat-label>
          <input matInput required [(ngModel)]="username" name="username" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width" color="accent">
          <mat-label>{{'admin.password' | translate}}</mat-label>
          <input matInput type="password" required [(ngModel)]="password" name="password" />
        </mat-form-field>

        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">
            {{'admin.login' | translate}}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
} @else if(isLoggedIn){
<div class="appointment-container" style="margin-bottom: 70px">
  <!--Controls for opening the add-event-dialog-->
  <mat-card appearance="outlined" class="center">
    <mat-card-header class="center-content">
      <h1>{{'admin.manageEvents' | translate}}</h1>
    </mat-card-header>
    <mat-card-content class="center-content">

      <button mat-fab extended color="primary" (click)="openDialog()">
        <mat-icon fontSet="material-icons">edit_calendar</mat-icon>
        {{'admin.addEvent' | translate}}
      </button>

      <br>
      <br>
      <mat-divider></mat-divider>
      <br>

      <!--List all existing events-->
      <table mat-table [dataSource]="calendarEvents" style="background-color: var(--mat-app-background-color)">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef="">ID</th>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef="">{{'add-event-dialog.title' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.title}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef="">{{'add-event-dialog.description' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.description}}</td>
        </ng-container>
        <ng-container matColumnDef="start">
          <th mat-header-cell *matHeaderCellDef="">{{'add-event-dialog.startDate' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.start}}</td>
        </ng-container>
        <ng-container matColumnDef="end">
          <th mat-header-cell *matHeaderCellDef="">{{'add-event-dialog.endDate' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.end}}</td>
        </ng-container>
        <!--Clickable delete button for deleting event from the database-->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef=""></th>
          <td mat-cell *matCellDef="let element">
            <button mat-mini-fab (click)="deleteEvent(element.id)" [disabled]="deleteDisabled" color="primary">
              <mat-icon fontSet="material-icons-rounded" style="cursor: pointer;">delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
}